{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href={% static "css/styles.css" %} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body class="dark-theme">
    {% include 'movieblog/nav.html' %}
    <main>
        <div class="top">
            <div class="search">
                <form method="GET" action="{% url 'movieblog:search_page' %}">
                    <input type="text" class="round-border search-item">
                    <a href="#" class="search-link link-border"> <span>Search!</span> </a>
                </form>
            </div>
            <div class="entrance">
                {% if not user.is_authenticated %}
                    <a href="{% url 'user_app:signup' %}" class="entrance__link link link-item"> регистрация </a>
                    <a href="{% url 'user_app:login' %}" class="entrance__link link link-item"> вход </a>
                {% else %}
                    <a href="{% url 'user_app:logout' %}" class="entrance__link link link-item"> выход </a>
                    <a href="{% url 'user_app:user_profile' username=user.username %} " class="entrance__link link link-item navbar__item">{{user.username}}</a>
                {% endif %}

            </div>
        </div>

    {% block content %}{% endblock content %}
    </main>

    <script src={% static "js/script.js" %} ></script>
</body>
</html>