{% extends "movieblog/base.html" %} 

{% block content %}
        <div class="content">
            <div class="title">
                <h1>{{ category.title }}</h1>
            </div>
            <div class="movies">
                {% for film in films %}
                    <a href="{{ film.get_absolute_url }}" class="movie-item">
                        <img src="{{ film.image.url }}" alt="" class="movie-image">
                    </a>
                {% endfor %}
            </div>
        </div>

{% endblock content %}