{% extends 'movieblog/base.html' %}
{% block title %}Удаление комментария{% endblock %}

{% block content %}
    <div class="movie-content">
        <div >
            <div class="title">Удаление комментария</div>
            <p class="title">Вы действительно хотите удалить этот комментарий?</p>
            <pre>{{ object.comment }}</pre>
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-success" type="submit">Да, удалить</button>
                <a href="{% url 'movieblog:film_page' pk=object.film.pk slug=object.film.slug %}"
                class="link-comment">Отмена</a>
            </form>
        </div>
    </div>
{% endblock %}