{% if comments %}
    {% for comment in comments %}
        <div class="review-item">
            <div class="review-top">
                <div class="person">
                    Пользователь: &nbsp<a href="{% url 'user_app:user_profile' username=comment.user.username %}" class="link link-item">{{ comment.user }}</a>
                </div>
            </div>
            <div class="review-content">
                <span class="description"> 
                    {{ comment.content }} 
                    <br>
                    | {{ comment.created_at }} | {% if comment.user == user or user.is_superuser %}
                    <a href="{% url 'movieblog:edit_comment' pk=comment.pk %}" class="link-comment">Редактировать</a> |
                    <a href="{% url 'movieblog:delete_comment' pk=comment.pk %}" class="link-comment">Удалить</a>
                    {% endif %}</p>
                </span>
            </div>
            <hr class="line-review">

            {% if user.is_authenticated %}
                <button class="btn btn-outline-primary mt-1" type="button" onclick="showReplyForm('{{ comment.id }}', '{{ comment.user.username }}')">Ответить</button>
                <div id="reply-form-{{ comment.id }}" style="display:none; margin-top: 10px;">
                    <form method="post" enctype="multipart/form-data" action="{% url 'movieblog:add_comment' pk=film.pk %}">
                        {% csrf_token %}
                        {{ comment_form.content }}
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <input type="hidden" name="reply_to" value="{{ comment.user.username }}">
                        <button class="btn btn-outline-primary mt-1" type="submit">Отправить</button>
                    </form>
                </div>
            {% endif %}




            {% if comment.children.all %}
                    <button class="btn btn-outline-secondary mt-1" type="button" onclick="toggleChildren('{{ comment.id }}')">Свернуть/Развернуть ответы</button>
                    <div id="children-{{ comment.id }}" style="margin-left: 20px;">
                        {% for child in comment.children.all %}
                            <div class="comment" id="comment-{{ child.id }}">
                                <span class="description">{{ child.content }}</span><br>
                                <span class="description"><a href="{% url 'user_app:user_profile' username=child.user.username %}" class="link-item description">{{ child.user }}</a>
                                    | {{ child.created_at }} | {% if child.user == user or user.is_superuser %}
                                        <a href="{% url 'movieblog:edit_comment' pk=child.pk %}" class="link-comment">Редактировать</a> |
                                        <a href="{% url 'movieblog:delete_comment' pk=child.pk %}" class="link-comment">Удалить</a>
                                    {% endif %}</span>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}


        </div>



    {% endfor %}
{% else %}
    <p class="review-item">Нет отзывов</p>
{% endif %}

<span class="movie-title">Добавить комментарий:</span>
{% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data" action="{% url 'movieblog:add_comment' pk=film.pk %}">
        {% csrf_token %}
        <div class="form-group">
            {{ comment_form.content }}
        </div>
        <button class="btn btn-success" type="submit">Отправить</button>
    </form>
{% else %}
    <p><a href="{% url 'user_app:login' %}" class="entrance__link link link-item">Войдите</a> чтобы добавить комментарий.</p>
{% endif %}
