{% extends 'movieblog/base.html' %}
{% block title %}Редактирование комментария{% endblock %}

{% block content %}
    <div class="movie-content">
        <div class="title">Редактирование комментария</div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
            {{ form.as_p }}
            </div>
            <button class="btn btn-success" type="submit">Обновить</button>
            <a href="{% url 'movieblog:film_page' pk=object.film.pk slug=object.film.slug  %}"
            class="link-comment">Отмена</a>
        </form>
    </div>
{% endblock %}