{% extends "movieblog/base.html" %}
{% block title %}{{ query }}{% endblock %}
    {% block content %}
    <div class="content">
        <section class="info">
            <div class="container">
                <h1>Результаты по запросу: {{ query }}</h1>
                <hr>        </div>    </section>
        <section class="films">
            {% if results %}
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-sm-12 cat-block">
                            {% for film in results %}
                                <div class="row-search">
                                    <div class="movie-item">
                                        <a href="{{ film.get_absolute_url }}">
                                            <img src="{{ film.image.url }}" alt="{{ film.title }}" class="movie-image">
                                        </a>
                                    </div>                                
                                    <div class="movie-se">
                                        <p class="movie-title">{{ film.title }}</p>
                                            <p class="description"><a
                                                    href="{{ film.category.get_absolute_url }}" class="link-comment">{{ film.category }}</a>
                                                | {{ film.director }} | {{ film.publish | date:"d F Y" }} |
                                                Просмотров: {{ film.views }}</p>
                                            {% for tag in film.tags.all %}
                                                <a href="{% url 'movieblog:tag_page' tag.slug %}" class="link-comment">{{ tag.name }}</a>
                                            {% endfor %}
                                        {{ film.short_body | safe }}
                                    </div>
                                </div>                            <hr class="m-3">
                            {% endfor %}
                        </div>

                </div>        {% else %}
                <div class="container">
                    <h3>Нет результатов</h3>
                </div>        {% endif %}
        </section>
    </div>
    {% endblock %}