<form method="post">  
    {% csrf_token %}  
    {% if form.non_field_errors %}  
        <div class="alert alert-danger">  
            {{ form.non_field_errors }}  
        </div>  
    {% endif %}  
    {% for field in form %}  
        <p class="form-label">{{ field.label }}</p>  
        <p>{{ field }}</p>  
    {% endfor %}  
    <button type="submit" class="btn btn-outline-success">Войти</button>  
    <p ><a href="{% url 'user_app:password_reset' %}">Забыли пароль?</a></p>
    <p ><a href={% url 'movieblog:index' pk=18 slug='vse-filmy' %}>Вернуться на главную</a></p>
</form>
