{% extends 'movieblog/base.html' %}
 
{% block content %}
<div class="content">
    <div class="login-block">
        <div class = "container mt-3">
            <div class = "col-6">
                <span class="name entrance-title">Восстановление пароля</span>
                <form method="POST">  
                    {% csrf_token %}  
                    <div class="form-group">
                        {{ form.as_p }}  
                    </div>
                    <button type="submit" class="btn btn-outline-success link-border">Запросить новый пароль</button>  
                </form>
            </div>
        </div> 
    </div>
</div>
{% endblock %}