{% extends 'movieblog/base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="movie-content">
        <div class="profile">
            <div class="profile-left">
                <h3 class="info">Информация:</h3>
                <img class="profile-avatar" src="{{ user_profile.profile.user_avatar.url }}" alt="{{ user_profile }}" width="300"
                    height="300" class="img-fluid"><br>
                {% for group in user_profile.groups.all %}
                    <span class="badge border mt-3 lead">{{ group.name }}</span>
                {% endfor %}
            </div>
            <div class="profile-right">
                <div>
                    <b>Имя пользователя:</b> {{ user_profile }}
                </div>
                <hr class="">
                {% if user_profile.first_name %}
                    <div>
                        <b>Имя:</b> {{ user_profile.first_name }}
                    </div>
                {% endif %}
                {% if user_profile.last_name and user_profile.profile.show_last_name %}
                    <div>
                        <b>Фамилия:</b> {{ user_profile.last_name }}
                    </div>
                {% endif %}
                <div class="bottom-settings">
                    <b>Пол:</b> {{ user_profile.profile.get_gender_display }}
                </div>
                {% if user_profile.profile.dob %}
                    <div>
                        <b>Возраст:</b> {{ user_profile.profile.get_age }}
                    </div>
                {% endif %}
                <div>
                    <b>На сайте:</b> {{ user_profile.profile.get_on_site }}
                </div>
                <hr class="mb-0">
                {% if user_profile.profile.show_email %}
                    <div>
                        <b>Email:</b> {{ user_profile.email }}
                    </div>
                {% endif %}
                {% if user_profile.profile.show_telegram %}
                    <div>
                        <b>Ссылка на Telegram:</b> <a
                        href="{{ user_profile.profile.telegram_link }}">{{ user_profile.profile.get_telegram_username }}</a>
                    </div>
                {% endif %}
                {% if user_profile.profile.site_link %}
                    <div>
                        <b>Личный сайт:</b> {{ user_profile.profile.site_link }}
                    </div>
                {% endif %}
                {% if user_profile %}
                    <a class="entrance__link link link-item bottom-settings"
                    href="{% url 'user_app:user_profile_settings' username=user_profile.username %}">Настройки
                        профиля</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}