{% extends 'movieblog/base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content">
    <div class="">
        <div class="">
            <h2>Настройки профиля {{ user }}</h2>
        </div>
    </div>
    <hr>
    <br>
    <div>
        <div>
            {% if messages %}
                <p class="alert alert-success">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </p>
            {% endif %}
        </div>
        <div>
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div>
                        <h3>Основная информация:</h3>
                        {% csrf_token %}
                        {% for error in user_info_form.errors.values %}
                            {{ error }}
                        {% endfor %}
                        <br>
                        <div class="settings-block">
                            {{ user_info_form.username.label }}
                            {{ user_info_form.username }}
                        </div>


                        <div class="settings-block">
                            {{ user_info_form.email.label }}
                            <div class="input-group">
                                <div class="input-group-text">
                                    {{ user_profile_form.show_email }}
                                    <span class="ms-2">Отображать?</span>
                                </div>
                                {{ user_info_form.email }}
                            </div>
                        </div>

                        <div class="settings-block">
                            {{ user_info_form.first_name.label }}
                            {{ user_info_form.first_name }}
                        </div>


                        <div class="settings-block">
                            {{ user_info_form.last_name.label }}
                            <div class="input-group">
                                <div class="input-group-text">
                                    {{ user_profile_form.show_last_name }}
                                    <span class="ms-2">Отображать?</span>
                                </div>
                                {{ user_info_form.last_name }}
                            </div>
                        </div>
                    </div>

                    <br>
                    <div>
                        <h3>Дополнительная информация:</h3>
                        <br>
                        {% for error in user_profile_form.errors.values %}
                            {{ error }}
                        {% endfor %}

                        <div class="settings-block">
                            {{ user_profile_form.gender.label }}
                            {{ user_profile_form.gender }}
                        </div>

                        <div class="settings-block">
                            {{ user_profile_form.dob.label }}
                            {{ user_profile_form.dob }}
                        </div>

                        <div class="settings-block">
                            {{ user_profile_form.site_link.label }}
                            {{ user_profile_form.site_link }}
                        </div>
                        <br>
                        <div class="settings-block">
                            {{ user_profile_form.user_avatar.label }}
                            {{ user_profile_form.user_avatar }}<br>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div>
                        <button class="btn search-link link-border" type="submit" name="user_info_form">
                            Отправить
                        </button>
                    </div>
                </div>
                <br>
            </form>
        </div>
        <div>
            <h3>Изменить пароль:</h3>
            <br>
            <form method="post">
                {% csrf_token %}
                <div class="settings-block">
                    {{ user_password_form.as_p }}
                </div>
                <div class="row">
                    <div>
                        <button class="btn search-link link-border" type="submit" name="user_password_form">
                            Отправить
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}