@media screen and (min-width: 600px)
    *
        font-size: 12px
@media screen and (min-width: 900px)
    *
        font-size: 22px
@media screen and (min-width: 1441px)
    *
        font-size: 30px

body.dark-theme
    --color-background: #363C46
    --color-background-button: #37C6F3
    --form-color: white
    --color-tab-button: #2890B1
    --color-link: white 
    --color-nav: #161A20
    --color-person: white
    --color-text: white
    --color-stroke: white
    --color-body: black
body.light-theme
    --color-background: #FFFFFF 
    --color-background-button: #37C6F3
    --form-color: #D9D9D9
    --color-tab-button: #2890B1
    --color-link: #666666 
    --color-nav: #F8F8F8 
    --color-person: #292929
    --color-text: black
    --color-stroke: #333333
    --color-body: #CAD3E2
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    flex-wrap: nowrap
    font-family: "Roboto"

.ranks__mark
    color: var(--color-text)


body
    display: flex
    color: var(--color-text)
    justify-content: flex-start
    background-color: var(--color-body)
    min-height: 100vh
    margin: 0
    width: 100%


.top-part
    position: fixed
    width: 20%
    height: 97.5vh
    overflow: hidden
    background-color: var(--color-nav)
    padding-top: 1.3rem
    border-radius: 0.7rem
    margin: 0.4rem
    .name-block
        display: flex
        justify-content: center
        margin-bottom: 2rem
        .name
            font-size: 1.5rem
            color: var(--color-background-button)
    .navbar
        padding-left: 2rem
        &__item
            display: flex
            align-items: center
            margin-bottom: 1rem
            svg
                margin-right: 0.3rem
main
    width: 80%
    padding-top: 1rem
    background-color: var(--color-background)
    border-radius: 0.7rem
    margin: 0.4rem 0.4rem 0.4rem 21%

svg
    stroke: var(--color-stroke)

.top
    display: flex
    justify-content: space-between
    margin-bottom: 2rem
    .search
        padding-left: 3rem
        .form-search
            width: 25rem
            height: 100%
            padding-top: 0.3rem
            padding-bottom: 0.3rem
            padding-left: 1rem

.entrance
    margin-right: 1rem
    display: flex
    align-content: center
    &__link
        margin-right: 1rem
        text-decoration: underline
a.entrance__link
    text-decoration: underline
span.entrance__link
    text-decoration: underline

.search-link
    &:active
        box-shadow: 0 2px 4px rgba(92, 87, 87, 0.4)
    span
        display: flex
        align-items: center
        font-size: 0.8rem


.round-border
    border-radius: 0.7rem

.search-item
    width: 22rem
    padding-top: 0.3rem
    padding-bottom: 0.3rem
    background-color: var(--form-color)
    padding-left: 1rem
    border: none

.link-border
    border-radius: 1.5rem
    padding: 0.5rem 0.7rem
    color: white
    text-decoration: none
    background-color: var(--color-background-button)
    display: inline-block
    &:hover
        background-color: var(--color-tab-button)
    &:active
        background-color: var(--color-background-button)

.content
    padding-left: 3rem
    margin-right: 1rem

.title
    margin-bottom: 1.5rem

.movies
    display: grid
    position: relative
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr))
    grid-gap: 1.5rem
    white-space: nowrap
    .movie-image
        border-radius: 0.7rem
        &:hover
            height: 12.1rem
            width: 8.1rem

.movie-item
    height: 13rem
    width: 9rem
    .movie-image
        border-radius: 0.7rem
        height: 12rem
        width: 8rem

.link-item
    color: var(--color-link)
    text-decoration: none
    &:hover
        color: var(--color-background-button)
        stroke: var(--color-background-button)

.login-block
    display: flex
    align-items: center
    flex-direction: column

.entrance-title
    display: flex
    justify-content: center
    margin-top: 1rem
    margin-bottom: 2rem
    font-size: 2rem

.form-group
    margin-bottom: 1rem
    width: 20rem
.form-text
    height: 7rem
    width: 130%
    border-radius: 0.7rem
    border: none
    background-color: var(--form-color)
    font-size: 0.7rem
    padding: 0.3rem 0.3rem 0.3rem 0.3rem

.form-control
    height: 2rem
    width: 100%
    border-radius: 0.7rem
    border: none
    background-color: var(--form-color)
    padding-left: 0.5rem

.submit
    border-radius: 1.5rem
    padding: 0.4rem 1.8rem 0.4rem 1.8rem
    background-color: var(--color-background-button)
    border: none
    cursor: pointer
    margin-bottom: 0.3rem
    color: white
    &:hover
        box-shadow: 0 2px 4px rgba(92, 87, 87, 0.4)
        background-color: var(--color-tab-button)
        color: white
    &:active
        background-color: var(--color-background-button)

.upload-block
    display: flex
    align-items: center
    .input-upload
        display: none
    label
        display: inline-block
        border: 1px solid black
        padding: 0.5rem 2rem
        font-size: 1rem
        user-select: none
        border-radius: 0.3rem
        cursor: pointer
        
.small-text
    font-size: 0.7rem
    color: grey

.movie-content
    margin-left: 10%
    margin-right: 20%

.movie-block
    margin-bottom: 1rem
    &__top
        display: flex
        justify-content: space-between
    &__main
        display: flex
        flex-direction: row
.movie-tags
    display: flex
    flex-direction: row        
    .tag-item
        margin-right: 0.5rem
        text-decoration: none
        color: var(--color-text)
        border: 1px solid var(--color-text)
        border-radius: 1.5rem
        padding: 0.2rem 0.5rem 0.2rem 0.5rem
        &:hover
            background-color: var(--color-background-button)
            color: white
            border-color: var(--color-background-button)
        &:active
            box-shadow: 0 2px 4px rgba(92, 87, 87, 0.4)


.movie-right
    display: flex
    flex-direction: column
    // align-items: flex-end
    justify-content: space-between
    padding-bottom: 1rem

.movie-left
    margin-right: 1rem

.description
    font-size: 0.7rem



.btn
    border-radius: 1.5rem
    padding: 0.3rem 0.5rem 0.3rem 0.5rem
    border: none
    font-size: 0.7rem
    cursor: pointer
        // color: white
    &:active
        box-shadow: 0 2px 4px rgba(92, 87, 87, 0.4)

.btn-success
    background-color: var(--color-background-button)
    margin-bottom: 1rem
    color: white
    &:hover
        background-color: var(--color-tab-button)

.btn-wishlist
    display: flex
    align-items: center
    background-color: var(--form-color)
    &:hover
        font-size: 0.7rem
        border: 1px solid black
    &:active
        background-color: var(--color-background-button) 
    svg
        margin-right: 0.4rem

.active-wishlist
    background-color: var(--color-background-button) 

.round-image
    border-radius: 50%

.person
    display: flex
    flex-direction: row
    align-items: center
    text-decoration: none
    color: var(--color-person)
    .image-avatar
        object-fit: cover
        width: 2rem
        height: 2rem
        margin-right: 0.5rem


.review-title
    margin-bottom: 0.5rem

.review-top
    margin-bottom: 0.5rem

.review-content
    margin-bottom: 0.8rem

.review-item
    margin-bottom: 1.5rem

.movie-title
    font-size: 1.2rem
    margin-bottom: 1.5rem

.ranks
    display: flex
    flex-direction: row
    align-items: center
    &__mark
        display: inline-block
        width: 2rem
        height: 2rem
        line-height: 2rem
        text-align: center
        border: 1px solid black
        border-radius: 50%
        background-color: var(--color-nav)
        cursor: pointer
        margin-right: 0.3rem
        &:hover
            background-color: var(--color-background-button)
            color: white
            border-color: var(--color-background-button)
        &:active
            box-shadow: 0 2px 4px rgba(92, 87, 87, 0.4)
            background-color: var(--color-tab-button)

.ranks__mark.active-mark
    color: white
    background-color: var(--color-background-button)
    border-color: var(--color-background-button)

.micro-text
    font-size: 0.5rem


.active
    color: var(--color-background-button)

.bottom-part
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    align-items: center
.switcher
    background-color: white
    width: 3rem
    height: 1.5rem
    border-radius: 200px
    cursor: pointer
    transition: 0.2s
    &::before
        position: absolute
        content: ''
        background-color: #37C6F3
        width: 1.3rem
        height: 1.3rem
        border-radius: 200px
        margin: 0.1rem

input:checked + .switcher
    background-color: #37C6F3

input:checked + .switcher::before
    margin-left: 1.5rem
    background-color: #fff
    // transform: translateX(20px)

input.theme-switcher
    display: none


.theme-text
    margin-bottom: 0.3rem
    margin-right: 0.4rem
    color: var(--color-link)

.btn-logout
    background: none
    border: none
    padding: 0

.link-comment
    font-size: 0.7rem
    color: var(--color-link)


form
    .btn-success
        margin-right: 0.5rem

.settings
    display: flex
    flex-direction: column
    line-height: 2rem    

.minus-block
    position: absolute
    left: 6rem
    top: .3rem

.minus
    width: 1.5rem
    height: 1.5rem
    background: red
    border-radius: 5rem
    text-align: center
    border: 1px black solid
    cursor: pointer
    color: white
    &:hover
        background-color: #5E0D0D
        color: white
    &:active
        box-shadow: 0 2px 4px rgba(92, 87, 87, 0.4)
        background-color: var(--color-tab-button)


.line-review
    margin-bottom: .3rem